// variables.scss
$primary-color: #182C61;
$secondary-color: #44bd32;
$secondary-color-hover: #4cd137;
$background-color: #f5f6fa;
$font-family: 'Roboto', sans-serif;

$container-max-width: 1024px;
$header-padding: 16px 0;
$section-padding: 56px 0;
$product-item-margin-bottom: 32px;
